svg {
	stroke-width: 3;
	stroke: rgb(27, 33, 39);
}
.flex-gen-fox {
	width: 120px;
	position: absolute;
	top: -415px;
	left: -35px;
	transition: .8s;
}

.transition-out {
	width: 300px;
	stroke: rgba(55, 62, 70, 0.644);
}